<head>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet"
  type='text/css'>
  <link rel='stylesheet' href='battlemon.css' media='screen' title='no title' charset='utf-8'>
</head>

<body class="play_page">
  <title> Battle! </title>
  <%= @game.players.first.name %> vs. <%= @game.players.last.name %>
  <br>
  <%= @game.players.first.name %>: <%= @game.players.first.hit_points %>HP - <%= @game.players.last.name %>: <%= @game.players.last.hit_points %>HP
  <br>
  <form action="/attack" class='attack_button' method="post">
    <input type="submit" value='Attack <%= @game.victim.name%>!'>
  </form>

  <% if @game.attacker.damage %>
    <%=@game.attacker.name %> took <%=@game.attacker.damage %> damage!
  <% end %>
  <br>
  <h1 class="message"><%=@game.damage_message(@game.attacker.damage) %></h1>
  <% if @game.attacker.damage == 0 %>
    <img class="missed_gif" src="http://24.media.tumblr.com/34bd73e91dc2b703101c00e24da1cb66/tumblr_mu2qlg4VTO1rey868o1_500.gif" alt="missed" />
  <% end %>
</body>
